p{
width:30em; 
text-wrap:normal;
}

div#result{
	margin-top:20px;
	margin-left:auto;
	margin-right: auto;
	padding:5px;
	background-color:grey;
	font-size:15pt;
	color:white;
	overflow-x:hidden;
	overflow-y:scroll;
	height:300px;
	width: 500px;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

div#total{
	margin-top:20px;
	margin-left:auto;
	margin-right: auto;
	padding:10px;
	background-color: #3ADF00; /*#3ADF00, #00FFFF*/
	font-size:15pt;
	color:white;
	height:50px;
	width: 500px;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

button{
	margin-top:3px;
}

select{
	display: block;
	margin-top: 10px;
	height: 34px;
	width: 100px;
	background-color: grey;
	color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input{
	margin-top:10px;
}

#main
{
    text-align:center;
}

#comboBoxAlign
{
    display: inline-block;/*aligns blocks side-by-side*/
}
#inputBoxAlign
{
    display: inline-block;/*aligns blocks side-by-side*/
	padding-right:58px;
}

#addAndCheck{
	display: inline-block;/*aligns blocks side-by-side*/
}

#quantity::-webkit-input-placeholder { 
color:#FFFFFF; 
}/*changes placeholder's text color*/

.inputBox{
	position: absolute;
	top: 0px;
	left: 92px;
}

.btn {
  display: inline-block;
  padding: 2px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-custome {
  color: #333;
  height: 25px;
  width: 120px;
  background-color: #E6E6E6;
  border-color: #ccc;
}

.form-control {
  display: block;
  width: 90px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-color: #3ADF00; /*#00FFFF, #3ADF00*/
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}